services:
  samba-ad-dc:
    container_name: samba-ad-dc
    build:
      context: .
      dockerfile: Dockerfile.samba
    environment:
      TZ: 'Europe/Paris'
    volumes:
      - '/etc/letsencrypt:/etc/letsencrypt'
      - '/opt/samba_storage/krb5.conf:/etc/krb5.conf'
      - '/opt/samba_storage/etc-samba:/etc/samba/'
      - '/opt/samba_storage/varlib-samba:/var/lib/samba/'
      - '/opt/samba_storage/varcache-samba:/var/cache/samba/'
      - '/opt/samba_storage/varlog-samba:/var/log/samba/'
      - '/opt/samba_storage/run-samba:/run/samba/'
      - '/opt/pxe:/pxe'
    cap_add:
      - NET_ADMIN
    stdin_open: true
    tty: true
    dns: 192.168.0.240
    dns_search:
      - ad.boorce.com
    hostname: dc01
    privileged: true
    networks:
#      - network1
      net_local:
        ipv4_address: 192.168.0.252
        ipv6_address: 2a01:e0a:809:d140:42:c0ff:fea8:fc
    restart: unless-stopped
    
networks:
#  net_local:
#    external: 
#      name: net_local
  net_local:
    external: true
    name: net_local
