services:
  baculum:
    container_name: baculum
    build: 
      context: .
      dockerfile: Dockerfile.baculum
    volumes:
      - /opt/bacula/etc/bacula:/etc/bacula
      - /opt/bacula/etc/baculum:/etc/baculum
    networks:
      - network1
    hostname: baculum
    dns: 192.168.0.240
    environment:
      TS: 'Europe/Paris'
    restart: unless-stopped

networks:
  network1:
    name: docker_default
    external: true
