services:
  omniktcp:
    container_name: omniktcp
    build: 
      context: .
      dockerfile: Dockerfile.omnik
    ports:
      - 8989:8989
    restart: unless-stopped
    hostname: omniktcp
    networks:
      - network1
    environment:
      TZ: 'Europe/Paris'
    dns: 192.168.0.240      

networks:
  network1:
    name: docker_default
    external: true
